/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap')

/*VARIABLES*/
$dark: #232b2b
$light: #FFFFFF
$gradient: linear-gradient(43deg, #08AEEA 0%, #2AF598 100%)

body
  font-family: helvetica, sans-serif
  color: $light
  background: $dark
  font-size: 16px
  line-height: 2em

a
  text-decoration: none

h2
   font-family: 'Abril Fatface', cursive

/*OFF CANVAS*/
.overlay
  background: $gradient
  width: 0
  height: 100vh
  position: fixed
  top: 0
  right: 0px
  z-index: 1
  opacity: 0
  transition: .3s
  &open
    width: 100vw
    opacity: 1
    ul.menu
      margin: 0
      padding: 0
      height: 100vh
      width: 100vw
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center

/*HAMBURGER*/
#hamburger
    position: fixed
    top: 10px
    right: 0px
    z-index: 2
    margin: 20px
    width: 48px
    height: 28px
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after
        background-color: white !important
    .is-active .hamburger-inner,
    .is-active .hamburger-inner::before,
    .is-active .hamburger-inner::after
        background-color: #000 !important

//*HAMBURGER WHEN LOGED IN*//
.toolbar-tray-open.toolbar-horizontal #hamburger
.toolbar-tray-open.toolbar-horizontal .overlay.open
    top: 79px

.toolbar-tray-open.toolbar-vertical #hamburger
.toolbar-tray-open.toolbar-vertical .overlay.open
    top: 39px
