/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap')

/*VARIABLES*/
$dark: #232b2b
$light: #FFFFFF
$gradient: linear-gradient(43deg, #08AEEA 0%, #2AF598 100%)

body
  font-family: helvetica, sans-serif
  color: $light
  background: $dark
  font-size: 16px
  line-height: 2em

a
  text-decoration: none

h2
   font-family: 'Abril Fatface', cursive

/*MAINTENANCE*/
.maintenance-page
  a
    color: #FFF
    .layout-container
      text-align: center
      display: flex
      height: 100vh
      width: 100vw
      max-width: 700px
      flex-direction: column
      justify-content: center
      box-sizing: border-box
      padding: 24px
      margin: 0px auto
      font-size: 14px
    .name-and-slogan
      font-size: 3.4em;
      letter-spacing: -.08em;
    .header
      img
        width: 40%
        height: auto
        clear: both
    h1
      font-weight: 200
      font-weight: 600
    &:after
      content: "®"
      font-size: 10px
      color: #FFF
      font-weight: 200
      margin-left: -.4em

.user-logged-in .site-logo img
    width: 50px
    height: auto

/*OFF CANVAS*/
.overlay
  background: $gradient
  width: 0
  height: 100vh
  position: fixed
  top: 0
  right: 0px
  z-index: 400
  opacity: 0
  transition: .3s
  &.open
    width: 100vw
    opacity: 1
    ul.menu
      margin: 0
      padding: 0
      height: 100vh
      width: 100vw
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center

/*HAMBURGER*/
#hamburger
  position: fixed
  top: 10px
  right: 0px
  z-index: 401
  margin: 20px
  width: 48px
  height: 28px
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after
    background-color: white
  &.is-active
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after
      background-color: $dark!important

//*HAMBURGER WHEN LOGED IN*//
.toolbar-tray-open
  &.toolbar-horizontal
    .hamburger
      top: 79px!important
    .overlay
      top: 79px
  &.toolbar-vertical
    .hamburger
      top: 39px!important
    .overlay
      top: 39px

//*PROJECTS*//
.view-projects
    max-width: 70rem
    margin: 0 auto
    .field__item
      z-index: 200!important
      position: relative
    .field--type-image
      position: absolute
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      div
        width: 100%
        height: 100%
        background-size: cover

.views-infinite-scroll-content-wrapper
    display: flex
    .project
      flex: 1
      flex-basis: 200px
      position: relative
      text-align: center
      height: 450px
      margin: 10px
      a
        color: $light
      .layout
        height: 100%
        .layout__region--content
          height: 100%
          display: flex
          flex-direction: column
          justify-content: space-between
      audio
        width: 100%
        width: -webkit-fill-available
